PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
Server=10.0.0.240
ServerActive=10.0.0.240
Hostname={{ inventory_hostname }}
TLSConnect=psk
TLSAccept=psk
TLSPSKIdentity={{ zabbix_psk_identity }}
TLSPSKFile=/etc/zabbix/psk-autoregistration.txt
